{% extends "home/base.html" %}
{% load static %}
{% block title %}Accueil{% endblock %}

{% block content %}
<div class="container mx-4">
    <h1>Bienvenue dans notre boutique-atelier !</h1>
<p>
    J'offre les services suivant:
    <ul>
        <li>Retouches</li>
        <li>Confection de tenues africaines traditionnelles sur mesures</li>
    </ul>
</p>
<p>    {# <a href="{% url 'atelier:index' %}">Accéder à l'atelier</a>a #}
    <img src="{% static 'home/images/mika_atelier.jpg' %}" alt="Bannière d'accueil" width="600">
</p>

</div>
{% endblock %}
